<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="x5-fullscreen" content="true">
  <meta name="full-screen" content="yes">
  <head>
    <title>博客园-vue</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/mui/css/mui.min.css' />
    <link rel='stylesheet' href='/mui/css/icons-extra.css' />
  </head>
  <body>
      <div id="app">
      </div>
      <script type="text/javascript" src="/javascripts/zepto.min.js"></script>
      <script type="text/javascript" src="/mui/js/mui.min.js"></script>
      <script type="text/javascript" src="/mui/js/mui.zoom.js"></script>
      <script type="text/javascript" src="/mui/js/mui.previewimage.js"></script>
      <script type="text/javascript" src="build.js"></script>
  </body>
</html>